.dark {
  --color-bg-primary: #16213E;
  --color-bg-secondary: #283141;
  --color-text-primary: #ffffff;
  --color-text-secondary: #e2e8f0;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #070707;
  --color-text-secondary: #4a5568;
}

::root {
  @apply light;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    font-family: 'Poppins', sans-serif;
    @apply bg-primary transition-colors duration-150;
  }
  .hero-bg {
    @apply bg-hero-bg;
    z-index: -2;
  }
  .aboutme-bg {
    @apply bg-aboutme-bg;
    z-index: -2;
  }
  .anchor::after{
    content: "";
    @apply absolute bg-pinky opacity-30 bottom-0 left-2;
    width: calc(100% - 3px);
    height: calc(100% - 7px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  .anchor:hover::after{
    left: 0;
    width: 100%;
    height: 100%;
  }
  .section-title{
    @apply relative pl-2 text-xl md:text-2xl font-medium border-pinky inline-block;
  }
  .section-title::after{
    content: "";
    @apply absolute bg-pinky opacity-30 w-0 h-full left-0;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    z-index: -2;
  }
  .section-title:hover::after{
    width: 100%;
  }
  .link-to{
    @apply relative overflow-hidden no-underline text-pink-600;
  }
  .link-to::after{
    content: "";
    @apply absolute bg-pink-600 opacity-25 bottom-0 left-3;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  .link-to:hover::after{
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
  .blog-content h1{
    @apply text-xl md:text-2xl font-semibold;
  }
  .blog-content h2{
    font-size: 22px;
    line-height: 2rem;
    @apply font-semibold;
  }
  .blog-content h3{
    font-size: 20px;
    line-height: 1.75rem;
    @apply font-semibold;
  }
  .blog-content p{
    @apply my-4;
  }
  .blog-content a{
    @apply link-to text-sm mx-0.5;
  }
  .blog-content pre{
    @apply bg-gray-200 dark:bg-gray-600 rounded p-2 overflow-auto;
  }
  .blog-content pre code{
    @apply font-firacode font-normal text-sm;
  }
  .my-photo::after{
    content: "";
    @apply bg-pink-600 bottom-1 left-3;
    width: 170px;
    height: 213px;
    z-index: -1;
  }
}